page-loginagian {
.btnBorderNone{
        outline:none;
        margin-bottom: 0;
    }  
/*    .login{
        background-image: url("http://menuapphybrid.newapptec.com/Content/Images/MobileImage/Icon/loginPageMobileBackgound.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position:  bottom;
        background-attachment: fixed;
    }
    .insideElement{
        background-color: #000;
        opacity: 0.6;   
       filter: alpha(opacity=50);
    }*/
}
