page-splashscreen{
    .appIcon{
        height: 80px;
        height: 80px;    
        display: block;
         margin: 0 auto;
    }
    .bottomItem{
        position: fixed;
                bottom: 0;
                width: 100%;
    }
}